
<!DOCTYPE html>

<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @employee.employee_fullname %></h1>
    <p>===============================================</p><br>
    <p>
      You have successfully updated your profile data of FOS.com<br>
    </p><br>
    <p>Good bye !! Have a great day!</p>
  </body>
</html>
