<div class="nested-fields">
  <div class="card pt-4">
    <%= f.hidden_field :menu_itemable_id %>
    <%= f.hidden_field :menu_itemable_type %>

    <div class="row">
      <div class="col-6">
        <div class="form-group col-12 ml-3">
          <%= f.check_box :_destroy, {}, '0', '1' %>
          <%= f.label :_destroy, f.object.menu_itemable.name %>
        </div>
      </div>
    </div>
  </div>
</div>
