<div class="container mt-5">
  <div class="d-flex">
    <h1 class="mt-5 mx-4">Available Categories</h1>
    <div class="ml-auto mt-3 mr-4">
      <%= link_to  "All", all_categories_path, class: "btn btn-success text-white" %>
      <%= link_to  "Unavailable", categories_unavailable_path, class: "btn btn-dark text-white" %>
    </div>
  </div>
  <div class="card-body">
    <%= render "item_groups/categories_table", item_category: @category %>
  </div>
</div>
