<div class="row">
  <div class="col-6 form-group">
    <label for="optionInputField">Option</label>
    <input type="text" class="form-control border-secondary text-capitalize" id="optionInputField" autocomplete="off" value="<%= o.name %>" readonly>
  </div>

  <input type="hidden" name="food_item[food_item_options_attributes][<%= i %>][option_id]" value="<%= o.id %>">

  <div class="col-6 form-group">
    <label for="priceInputField">Price</label>
    <input type="number" name="food_item[food_item_options_attributes][<%= i %>][price]" class="form-control border-secondary" id="priceInputField" autocomplete="off" placeholder="Set price" required min="1" >
  </div>
</div>
